<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="./tests/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnError="true"
        stopOnFailure="false"
        stopOnIncomplete="true"
        stopOnSkipped="true"
        strict="false"
        verbose="true"
        >
    <testsuite name="Пушки от Бобби">
        <directory>./tests/</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./application</directory>
            <exclude>
                <file>./application/Bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./build/coverage" title="Пушки от Бобби"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-xml" target="./build/logs/coverage.xml"/>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
        <log type="junit" target="../build/logs/junit.xml" logIncompleteSkipped="false"/>
        <log type="testdox-text" target="./build/logs/testdox.txt"/>
    </logging>

</phpunit>
